body{
	font-family: 'PT Serif', serif;
	font-size: 13px;
}
header nav{
	padding-top: 8px;
	float: left;
    margin-left: 14%;
}
header nav ul li{
	list-style-type: none;
	display: inline;
}
header h2{
	float: left;
}
.headingtop{
	text-align: center;
}
main{
	clear: both;
}

.header-wrapper{
	background: #0b11d8;
	width: 100%;
	top: 0;
	padding:10px 0 10px 0; 
	overflow: hidden;
}

nav ul li{
	font-size: 16px;
	padding: 25px 25px 27px;
}

nav ul li a{
	color: #ffffff;
	text-decoration: none;
}

nav ul li.active, nav ul li:hover{
	cursor: pointer;
}
.wrap{
	clear: both;
	/* margin-top: 50px; */
}
.top-banner{
	margin-top:-50px;
}
#banner{
	height: 480px;
	overflow: hidden;
}
#banner figure img{
	width: 100%;
}
blockquote{
	background: #ea0c3f;
    padding: 30px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 30px;
}
.grid_12.mid-section {
    margin: 60px 0;
}
.events figure img{
	overflow: hidden;
	margin-top: 6px;
	border-radius: 7px;
}
section.thumb ul li, section.thumb ul li h4, section.thumb ul li h5{
	width: 210px;
	cursor: pointer;
}
section.thumb ul li{
	float: left;
	margin: 10px 25px 0 0;
}
section.thumb ul li img{
	width: 200px
}
section.thumb ul li h4, section.thumb ul li h5{
	padding: 0;
	margin: 0;
}
section.thumb ul li h4{
	font-size: 14px;
}
section.thumb ul li h5{
	font-size: 12px;
}
footer{
	background: #0b11d8;
	padding: 50px 0 50px;
	width: 100%;
	margin-top: 50px;
	text-align: center;
}
footer ul img{
	width: 960px;
	margin:0 auto;
	text-align:center;
}
footer ul li{
	list-style-type: none;
	display: inline;
	margin: 0;
    padding-right: 40px;
}
footer ul li a.fa{
	color: #ffffff;
	font-size: 26px;
	text-decoration: none;
}

.footer-wrapper {
    clear: both;
}
.italic{
	font-style: italic;
	color: blue;
}
.border{
	border: 1px solid #000;
	padding: 10px;
	padding-left: 20px;
	width: 280px;
	animation:1s blinker
}
.blink {
  -webkit-animation: blink 2s step-end infinite;
  -moz-animation: blink 2s step-end infinite;
  -o-animation: blink 2s step-end infinite;
  animation: blink 2s step-end infinite;
}
@-webkit-keyframes blink {
  67% { opacity: 0 }
}

@-moz-keyframes blink {
  67% { opacity: 0 }
}

@-o-keyframes blink {
  67% { opacity: 0 }
}

@keyframes blink {
  67% { opacity: 0 }
}

.newquote{
	background: #f5edef;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    margin-bottom: 30px;
}